{% extends 'ProjectLineOfWorkBundle::layout.html.twig' %}

{% block alert %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p><strong>Info!</strong>The Activation email has been sent. Check your email and activate your account.</p>
</div>
{% endblock alert %}   


