{% extends 'ProjectLineOfWorkBundle::layout.html.twig' %}

{% block register %}
    <div class="col-lg-6 col-lg-offset-3">
            <div class="body-header">
                <h2>Change password</h2>
            </div>        
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div> 
{% endblock register %}