{% extends 'ProjectLineOfWorkBundle::layout.html.twig' %}

{% block alert %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <p><strong>Info!</strong>The reseting email has been requested in 24 hours. Check your email again and change your password.</p>
</div>
{% endblock alert %}   