{% extends '::base.html.twig' %}

{% block title %}
    Homepage - offical site
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  '@SakyHankOfficialSiteBundle/Resources/public/css/custom.css' filter='?uglifycss'%}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div id="home" class="col-lg-12 full-page">
                {% block home %}{% endblock home %}
            </div>          
            <div id="projects" class="col-lg-12 full-page">
                {% block projects %}{% endblock projects %}
            </div>
            <div id="contact" class="col-lg-12 full-page">
                {% block contact %}{% endblock contact %}
            </div>
        </div>
    </div> 
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
            {% javascripts 
                '@SakyHankOfficialSiteBundle/Resources/public/js/custom.js'
                filter='?uglifyjs2' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
{% endblock %} 
