{% extends 'ProjectLineOfWorkBundle::layout.html.twig' %}

{% block main %}
    <div class="col-lg-8 col-lg-offset-2">
    <div class="body-header">
        <h2>{{ about.articletype }}</h2>
    </div>
    <article>
        <p>{{ about.content }}</p>
    </article>        
    </div>

{% endblock %}
